.container {
  width: 70vw;
  display: flex;
  flex-direction: column;
  gap: 150px;
  overflow: hidden;
}
.intro {
  width: 100vw;
  height: 80vh;
  text-align: left;
}
.content {
  position: relative;
  top: 70px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.intro_back {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
.line1 {
  width: 100vw;
  position: absolute;
  top: -160px;
  left: 0;
}
.line2 {
  width: 100vw;
  position: absolute;
  top: 250px;
  left: 0;
}
.line3 {
  width: 100vw;
  position: absolute;
  top: 400px;
  left: 0;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}
.sub_title {
  margin: 0;
  font-size: 25pt;
  font-weight: bold;
}
.main_title {
  margin: 0;
  font-size: 38pt;
  font-weight: bold;
}
.detail {
  color: white;
}
.para1 {
  font-size: 15pt;
  line-height: 22pt;
}
.para2 {
  font-size: 15pt;
  font-weight: bold;
  line-height: 22pt;
}
.adopt_btn {
  width: 180px;
  height: 50px;
  border: 2px solid white;
  border-radius: 25px;
  background-color: transparent;
  font-size: 15pt;
  color: white;
  font-weight: bold;
  margin-top: 18vh;
}

.three {
  position: absolute;
  top: -20vh;
  right: 1vw;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.three_img {
  width: 60vw;
  position: relative;
  left: 0;
}
.three_legend {
  width: 30vw;
  position: relative;
  top: 93vh;
  right: 2vw;
}

.more_container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 5vh;
}
.more {
  width: 25px;
  height: 10px;
  z-index: 2;
}

.mid_title {
  font-size: 20pt;
  font-weight: bold;
}
.ai {
  z-index: 2;
  margin-top: 10vh;
  width: 100%;
  text-align: left;
}
.ai_img {
  width: 100%;
}
.ai_detail {
  text-align: right;
  font-size: 13pt;
  line-height: 20pt;
  margin: 12px 0 25px 0;
}
.ai_two {
  display: flex;
  width: 100%;
}
.ai_two_i {
  margin: 5px;
}
.product {
  z-index: 2;
  width: 100%;
  text-align: left;
}
.product_img {
  width: 100%;
}
.case {
  z-index: 2;
  width: 100%;
  text-align: left;
}
.photo {
  z-index: 2;
  width: 100%;
  text-align: left;
}
.photo_content {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.photo_col {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 0;
}
.photo_col2 {
  display: flex;
  justify-content: space-between;
  position: relative;
  right: 0;
}
.photo_card {
  width: 32%;
  border-radius: 1vw;
}

.btn_container {
  z-index: 3;
  width: 70vw;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  border: 1px solid #d6cbff;
  border-radius: 30px;
  margin-bottom: 50px;
}
.btn {
  font-size: 18px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: #886fe8;
}
