.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: "NotoSans";
  src: local("NotoSans"),
    url("./assets/fonts/NotoSansKR-VariableFont_wght.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("ttf");
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter";
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
